.hero {
  height: 100vh;
  background: url("../../assets/test.png"), no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.hero .container {
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero h1 {
  font-weight: 400;
  line-height: 1.1;
  margin: 0.5rem 0 2rem 0;
  max-width: 850px;
}

.hero p {
  max-width: 400px;
  font-size: 1.1rem;
  padding-right: 0.5rem;
}

.hero a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f5eee7;
  max-width: 125px;
  transition: 0.3s;
}

.hero .btn-box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hero .btn-box svg {
  transition: 0.3s;
}

.hero .btn-box:hover svg {
  color: #7a7265;
  transform: translateY(5px);
}

@media (max-width: 768px) {
  .hero h1 {
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .contact {
    font-size: 1rem;
  }
}
