.about .container {
  align-items: flex-start;
}

.about h4 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 900px;
  line-height: 1.5;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-img {
  display: flex;
  justify-content: center;
}

.about-img div {
  overflow: hidden;
  max-height: 400px;
}

.about-img img {
  object-fit: cover;
  transition: 0.3s;
}

.about-img img:hover {
  scale: 1.05;
}

.about-text {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 0;
}

.about-text h6 {
  font-style: italic;
  font-family: "Lora", sans-serif;
  margin-bottom: 1.5rem;
  position: relative;
}

.about-text a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #f5eee7;
  transition: 0.3s;
  max-width: 125px;
  margin-top: 0.75rem;
}

.about-text svg {
  color: #f5eee7;
  transition: 0.3s;
}

.about-text a:hover svg {
  margin-left: 0.75rem;
  color: #7a7265;
}

.about-text a:hover {
  color: #7a7265;
}

@media (max-width: 1024px) {
  .about-content {
    gap: 2rem;
  }

  .about h6 {
    margin-bottom: 1rem;
  }
  .about-img img {
    width: 100%;
    height: auto;
  }

  .about h4 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: none;
    gap: 0;
  }

  .about-img {
    justify-content: flex-start;
  }

  .about-img img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 640px) {
  .about h4 {
    text-align: center;
  }

  .about-text {
    align-items: center;
    text-align: center;
  }

  .about-img {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .about-img img {
    width: 250px;
    height: 250px;
  }
}
