.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-container {
  height: 100vh;
  max-width: 600px;
  padding: 6rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18191a;
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content h4 {
  margin-bottom: 1rem;
}

.modal-content button {
  margin-top: 2rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #f5eee7;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  font-family: "Lora", sans-serif;
  transition: 0.3s;
}

.modal-content button svg {
  color: #f5eee7;
  transition: 0.3s;
}

.modal-content button:hover svg {
  margin-left: 0.75rem;
  color: #7a7265;
}

.modal-content button:hover {
  color: #7a7265;
}

.modal-img {
  width: 100%;
  height: 300px;
  background-color: #7a7265;
  margin-bottom: 2rem;
}

.modal1 .modal-img {
  background: url("../../assets/OS-project.png");
  background-size: cover;
  background-position: center;
}

.modal2 .modal-img {
  background: url("../../assets/PFE-project.png");
  background-size: cover;
  background-position: center;
}

.modal3 .modal-img {
  background: url("../../assets/NL-project.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .modal-img {
    height: 250px;
    margin-bottom: 1rem;
  }

  .modal-content button {
    margin-top: 1rem;
  }
}

@media (max-width: 425px) {
  .modal-container {
    padding: 6rem 1rem 1rem 1rem;
  }

  .modal-content {
    height: 80%;
  }

  .modal-img {
    height: 200px;
  }
}

@media (max-width: 300px) {
  .modal-img {
    height: 175px;
  }
}
