.contact .container {
  padding: 1rem 0;
}

.contact h5 {
  font-weight: 400;
  font-style: italic;
  font-family: "Lora", sans-serif;
}

.contact h1 {
  position: relative;
  line-height: 1;
}

.contact h1::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  background-color: #f5eee7;
  transition: 0.3s;
}

.contact h1:hover::before {
  width: 110%;
  background-color: #7a7265;
}

.contact h1 a:hover {
  letter-spacing: 0.3rem;
  color: #7a7265;
}

.contact h1 a {
  color: #f5eee7;
  text-decoration: none;
  transition: 0.3s;
}
