.mission-content {
  display: flex;
  flex-direction: column;
}

.mission-content-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.mission-content-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mission-text h4 {
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.mission-text h5 {
  font-weight: 400;
  font-family: "Lora", sans-serif;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.mission-img {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.mission-img img {
  object-fit: cover;
  transition: 0.3s;
}

.mission-img:hover img {
  scale: 1.05;
}

.mission-img2 {
  grid-column: 2 / span 2;
  align-self: center;
}

@media (max-width: 1024px) {
  .mission-content {
    gap: 1rem;
  }

  .mission-content h4 {
    margin-bottom: 1rem;
  }

  .mission-content-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .mission-img2 img {
    width: 100%;
  }

  .mission-content-bottom {
    display: flex;
  }

  .mission-content-bottom .fill {
    display: none;
  }
}

@media (max-width: 640px) {
  .mission-img1 img {
    height: 250px;
  }

  .mission-img2 img {
    height: 175px;
  }

  .mission-text {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .mission-content-top {
    gap: 1rem;
  }

  .mission-img1 img {
    height: 175px;
  }

  .mission-img2 img {
    height: 125px;
  }
}
