.approach .container {
  align-items: flex-start;
}

.approach h4 {
  font-weight: 400;
  margin-bottom: 4rem;
}

.approach-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.approach-content h6 {
  margin: 1rem 0 0.5rem 0;
  font-family: "Lora", sans-serif;
  font-style: italic;
}

.approach-content svg {
  font-size: 1.3rem;
  transition: 0.3s;
}

.step:hover svg {
  color: #7a7265;
}

.step-1 {
  margin-top: 3rem;
}

.step-2 {
  margin-top: 6rem;
}

@media (max-width: 768px) {
  .approach h4 {
    margin-bottom: 2rem;
  }

  .approach-content {
    grid-template-columns: none;
  }

  .step-1 {
    margin-top: 0;
  }

  .step-2 {
    margin-top: 0;
  }
}
