.work .container {
  align-items: flex-start;
}

.work h4 {
  margin-bottom: 4rem;
  font-weight: 400;
}

.work-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.project-img {
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.project-img img {
  transition: 0.3s;
}

.project-img:hover img {
  scale: 1.05;
}

.project-img1 {
  max-height: 405px;
}

.project-img2 {
  margin-top: 12rem;
  max-height: 500px;
}

.project-img2 img {
  object-fit: cover;
}

.project-content {
  max-width: 500px;
}

.project-content .icons {
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
}

.project-content h5 {
  font-family: "Lora", sans-serif;
  font-style: italic;
  margin: 1rem 0 0.5rem 0;
}

.project-content p {
  margin-bottom: 0.5rem;
}

.project-content a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #f5eee7;
  transition: 0.3s;
  max-width: 75px;
}

.project-content svg {
  color: #f5eee7;
  transition: 0.3s;
}

.project-content a:hover svg {
  margin-left: 0.75rem;
  color: #7a7265;
}

.project-content a:hover {
  color: #7a7265;
}

@media (max-width: 1280px) {
  .project-img2 img {
    width: auto;
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .project-img2 img {
    height: 300px;
  }

  .project-img2 {
    margin-top: 8rem;
  }

  .work-content {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .project-img2 img {
    height: 250px;
  }

  .work h4 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 640px) {
  .work-content {
    flex-direction: column;
    gap: 2rem;
  }

  .project-img2 {
    margin-top: 0;
  }

  .project-img2 img {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .project-img2 img {
    height: 200px;
  }
}
